@charset "UTF-8";
/* 팝업*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: table;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-mask .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-mask .modal-wrapper .modal-container {
  border-radius: 14px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(248, 248, 248, 0.82);
  width: 260px;
  min-height: 210px;
  margin: 0px auto 75px;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.modal-mask .modal-wrapper .modal-container.topImg .modal_imgWrap {
  margin-top: -60px;
}

.modal-mask .modal-wrapper .modal-container.longHeight .modal-body div {
  min-height: 220px;
}

.modal-mask .modal-wrapper .modal-container.bigModal {
  width: 90%;
  height: 80%;
  max-width: 500px;
  max-height: 500px;
}

.modal-mask .modal-wrapper .modal-container.bigModal .modal-body div {
  max-height: 370px;
  overflow-y: scroll;
}

.modal-mask .modal-wrapper .modal-container.bigModal .modal-body div p {
  margin-bottom: 7px;
}

.modal-mask .modal-wrapper .modal-container.bigModal .modal-body div p b {
  font-weight: bold;
}

.modal-mask .modal-wrapper .modal-container .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.modal-mask .modal-wrapper .modal-container .modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-mask .modal-wrapper .modal-container .modal-header .modal_closeBtn {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 0;
}

.modal-mask .modal-wrapper .modal-container .modal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 52px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-mask .modal-wrapper .modal-container .modal-flex p {
  width: 100%;
}

.modal-mask .modal-wrapper .modal-container .modal-flex .modal-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-mask .modal-wrapper .modal-container .modal-body {
  padding: 12px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-mask .modal-wrapper .modal-container .modal-body div {
  width: 100%;
}

.modal-mask .modal-wrapper .modal-container .modal-body h3 {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.01px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}

.modal-mask .modal-wrapper .modal-container .modal-body h3.withInput {
  margin: 20px 0;
}

.modal-mask .modal-wrapper .modal-container .modal-body h2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45;
  color: #707070;
  padding-bottom: 5px;
}

.modal-mask .modal-wrapper .modal-container .modal-body span {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
}

.modal-mask .modal-wrapper .modal-container .modal-body p {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
}

.modal-mask .modal-wrapper .modal-container .modal-body p.red {
  color: #ff6565;
}

.modal-mask .modal-wrapper .modal-container .modal-footer {
  text-decoration: none;
  color: #999;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modalInput {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modalInput span {
  font-size: 0.625rem;
  display: block;
  color: #ff6565;
  width: 100%;
  text-align: right;
  padding: 0 12px 2px 0;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modalInput textarea {
  width: 100%;
  max-width: 238px;
  height: 50px;
  border: solid 0.5px #8e8e93;
  background-color: #ffffff;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0px;
  padding: 4px;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modal_btnWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modal_btnWrap.single button {
  width: 100%;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modal_btnWrap button {
  border: 0;
  color: #ff7f1f;
  height: 52px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  padding: 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.01px;
  text-align: center;
  width: calc(100% / 2);
  border-top: 0.5px solid #3f3f3f;
  border-right: 0.5px solid #3f3f3f;
  background-color: transparent;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modal_btnWrap button:last-of-type {
  border-right: 0;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modal_outSide {
  position: absolute;
  bottom: -62px;
  left: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #2a2a2a;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
}

.modal-mask .modal-wrapper .modal-container .modal-footer .modal_outSide button {
  border: 0;
  background-color: #2a2a2a;
  color: #fff;
  font-family: NotoSansCJKkr;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.43;
  padding-left: 17px;
  cursor: pointer;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.divider {
  position: absolute;
  width: 100%;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(rgba(0, 0, 0, 0.16)));
  background: linear-gradient(to bottom, #eeeeee, rgba(0, 0, 0, 0.16));
  left: 0;
  margin: -20px 0 0 0;
}

h3.notice-subtitle {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 19px;
  letter-spacing: normal;
  text-align: center;
  color: #434343;
  margin: 0 0 30px 0;
}

.star-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 17px;
}

.star-wrap .sw-img {
  padding-right: 10px;
}

.star-wrap .sw-img:last-of-type {
  padding-right: 0;
}

.vue-star-rating-pointer {
  padding-right: 5px;
}

.vue-star-rating-pointer:last-of-type {
  padding-right: 0;
}

.select-wrap .v-select {
  height: 100%;
}

.select-wrap .v-select .vs__dropdown-toggle {
  padding: 0;
}

.select-wrap .v-select.vs--open .vs__selected {
  height: 100%;
}

.select-wrap .v-select .vs__dropdown-toggle {
  height: inherit;
  border: 1px solid #828282;
  border-radius: 0;
}

.select-wrap .v-select .vs__dropdown-menu {
  text-align: center;
}

.select-wrap .v-select .vs__search {
  display: none;
}

.select-wrap .v-select .vs__selected {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0 13px 0 0px;
}

.select-wrap .v-select .vs__actions {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
}

.select-wrap .v-select .vs__actions .vs__clear {
  display: none;
}

.select-wrap .v-select .vs__actions .vs__open-indicator {
  fill: rgba(0, 0, 0, 0.5);
}

/** 커스텀 박스 */
.r-navigation .v-select .vs__dropdown-toggle {
  border: 0;
}

.r-navigation .v-select .vs__selected {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: "AppleSDGothicNeoSB00";
  line-height: 28px;
  font-size: 20px;
  font-weight: normal;
}

/** 셀렉트 박스 */
.style-chooser .vs__search::-webkit-input-placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}
.style-chooser .vs__search:-ms-input-placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}
.style-chooser .vs__search::-ms-input-placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}

/* ===================== 탭 옵션정리 =====================  */
ul.tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px -4px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0px -4px 6px 0 rgba(0, 0, 0, 0.16);
}

ul.tabs__header .progress {
  position: absolute;
  top: 0;
  background: #fe6867;
  height: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul.tabs__header li {
  width: 50%;
  padding: 0;
  font-family: Godo;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: center;
  color: #a4a4a4;
}

ul.tabs__header li.tab__selected {
  color: #fe6867;
}

.tab-wrapper {
  padding: 0;
}

/* 슬라이더 */
.range-wrap .vue-range-slider.slider-component .slider .slider-process {
  background-color: #5fbb92;
}

.range-wrap .vue-range-slider.slider-component .slider .slider-dot.slider-always .slider-tooltip-wrap {
  display: none !important;
}

.range-wrap .vue-range-slider.slider-component .slider .slider-dot {
  background-color: #5fbb92;
  width: 22px !important;
  height: 22px !important;
  top: -10px !important;
  -webkit-box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.13);
}

.range-wrap .vue-range-slider.slider-component .slider {
  height: 2px !important;
}

/** 라디오 인풋 */
.radio-input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-input-wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 20px;
}

.radio-input-wrap .item:first-of-type {
  margin: 0;
}

.radio-input-wrap .item input[type="radio"] {
  border-radius: 50%;
}

.radio-input-wrap .item input[type="radio"]:after {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: var(--active-inner);
  opacity: 0;
  -webkit-transform: scale(var(--s, 0.7));
          transform: scale(var(--s, 0.7));
}

.radio-input-wrap .item input[type="radio"]:checked {
  --s: .5;
}

.radio-input-wrap .item input[type="radio"]:disabled:checked {
  background: #5fbb92 !important;
}

.radio-input-wrap .item input {
  --active:  #5fbb92;
  --active-inner: #fff;
  --focus: 2px rgba(95, 187, 146, .3);
  --border: #BBC1E1;
  --border-hover: #5fbb92;
  --background: #fff;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  -webkit-transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
  transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
  transition: background .3s, border-color .3s, box-shadow .2s;
  transition: background .3s, border-color .3s, box-shadow .2s, -webkit-box-shadow .2s;
}

.radio-input-wrap .item input:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
}

.radio-input-wrap .item input:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: .3s;
  --d-t: .6s;
  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

.radio-input-wrap .item input:checked + label {
  color: #5fbb92;
}

.radio-input-wrap .item input:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: .9;
}

.radio-input-wrap .item input:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}

.radio-input-wrap .item input:disabled + label {
  cursor: not-allowed;
}

.radio-input-wrap .item input:hover:not(:checked):not(:disabled) {
  --bc: var(--border-hover);
}

.radio-input-wrap .item input:focus {
  -webkit-box-shadow: 0 0 0 var(--focus);
          box-shadow: 0 0 0 var(--focus);
}

.radio-input-wrap .item input:not(.switch) {
  width: 21px;
}

.radio-input-wrap .item input:not(.switch):after {
  opacity: var(--o, 0);
}

.radio-input-wrap .item input:not(.switch):checked {
  --o: 1;
}

.radio-input-wrap .item input + label {
  cursor: pointer;
  margin: 0 0 0 12px;
}
/*# sourceMappingURL=common.css.map */